<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TwitterIrcGatewayService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitterIrcGatewayService.Settings>
            <setting name="Port" serializeAs="String">
                <value>16668</value>
            </setting>
            <setting name="BindAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SslPort" serializeAs="String">
                <value>16669</value>
            </setting>
            <setting name="CertFilename" serializeAs="String">
                <value>Cert\TwitterIrcGateway.pfx</value>
            </setting>
        </TwitterIrcGatewayService.Settings>
    </userSettings>

    <system.diagnostics>
      <trace autoflush="true">
        <listeners>
        </listeners>
      </trace>

      <sources>
        <source name="Server" switchName="SourceSwitchServer" switchType="System.Diagnostics.SourceSwitch">
          <listeners>
            <add name="LogFileServer" type="System.Diagnostics.TextWriterTraceListener" initializeData="Log\Trace-Server.log" traceOutputOptions="ThreadId, DateTime"/>
          </listeners>
        </source>
        <source name="Session" switchName="SourceSwitchSession" switchType="System.Diagnostics.SourceSwitch">
          <listeners>
            <add name="LogFileSession" type="System.Diagnostics.TextWriterTraceListener" initializeData="Log\Trace-Session.log" traceOutputOptions="ThreadId, DateTime"/>
          </listeners>
        </source>
        <source name="Twitter" switchName="SourceSwitchTwitter" switchType="System.Diagnostics.SourceSwitch">
          <listeners>
            <add name="LogFileTwitter" type="System.Diagnostics.TextWriterTraceListener" initializeData="Log\Trace-Twitter.log" traceOutputOptions="ThreadId, DateTime"/>
          </listeners>
        </source>
      </sources>
      <switches>
        <add name="SourceSwitchServer" value="Information"/>
        <add name="SourceSwitchSession" value="Warning"/>
        <add name="SourceSwitchTwitter" value="Warning"/>
      </switches>
      <sharedListeners>
      </sharedListeners>
    </system.diagnostics>

    <connectionStrings>
      <add name="Misuzilla.Applications.TwitterIrcGateway.AddIns.SqlServerDataStore.Properties.Settings.DatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=TwitterIrcGateway" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
