<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Misuzilla.Applications.TwitterIrcGateway.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Misuzilla.Applications.TwitterIrcGateway.Settings>
            <setting name="Port" serializeAs="String">
                <value>16668</value>
            </setting>
            <setting name="LocalOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Charset" serializeAs="String">
                <value>ISO-2022-JP</value>
            </setting>
            <setting name="IgnoreWatchError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolveTinyUrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDropProtection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetTopicOnStatusChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntervalDirectMessage" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="CookieLoginMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwitterChannelName" serializeAs="String">
                <value>twitter</value>
            </setting>
            <setting name="EnableRepliesCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntervalReplies" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="BroadcastUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableUserList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientMessageWait" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BroadcastUpdateMessageIsNotice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="POSTFetchMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableCompression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableNoticeAtFirstTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OAuthClientKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OAuthSecretKey" serializeAs="String">
                <value />
            </setting>
        </Misuzilla.Applications.TwitterIrcGateway.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
